<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Table</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <table class="mainTable">
        <tbody>
            <tr class="mainRow">
            {{#each programNames}}<td>{{this}}</td>{{/each}}
            </tr>
            {{#each programData}}
            <tr>
                <td>{{schoolStream}}</td><td>{{day}}</td><td>{{time}}</td><td>{{Discipline}}</td><td>{{Type}}</td><td>{{Kind}}</td><td>{{Lecturer}}</td><td>{{studyHall}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
